.tableContainer {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  
    table {
      border-collapse: collapse;
      font-size: 16px;
      text-align: left;
      color: #f1f1f1;
      width: 66.66%; 
      max-width: 1000px; 
      
      thead {
        background: #333;
        padding: 10px;
  
        th {
          padding: 8px; 
          border: 1px solid #444;
          cursor: pointer;
          color: #f1f1f1;
  
          &:hover {
            background: #444;
          }
        }
      }
  
      tbody {
        td {
          padding: 6px;
          border: 1px solid #444;
  
          .coinSymbol {
            display: flex;
            align-items: center;
          }
  
          .coinLogo {
            margin-left: 5px; 
          }

          .addButton {
            background: #5998e1;
            border: none;
            color: white;
            padding: 5px 10px;
            cursor: pointer;
            border-radius: 4px;
  
            &:hover {
              background: #005bb5;
            }
          }
        }
      }
  
      th, td {
        min-width: 90px; 
        text-align: center; 
      }
    }
  }
  
  
  
  