.searchInput {
    width: 330px;
    padding: 7px;
    border: 2px solid #555;
    border-radius: 8px;
    font-size: 18px;
    margin-bottom: 20px;
    background-color: #333;
    color: #f1f1f1;
    transition: border-color 0.3s, box-shadow 0.3s;
  
    &::placeholder {
      color: #888;
    }
  
    &:hover {
      border-color: #0070f3;
      box-shadow: 0 0 8px rgba(0, 112, 243, 0.5);
    }
  
    &:focus {
      border-color: #0070f3;
      box-shadow: 0 0 12px rgba(0, 112, 243, 0.7);
      outline: none;
    }
  }
  
  